<!DOCTYPE html>
<html>
<head>
	<title>Node Player</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="node_modules/bootswatch/cyborg/bootstrap.css">
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="js/audio_player.js"></script>
	<script type="text/javascript" src="js/metallum.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
	
	<div class="col-md-12 cont-principal-player">

		<div class="col-md-3">
			
			<a href="/" class="icon-logo"> <h4><span class="glyphicon glyphicon-play-circle"></span> Node Player</h4> </a>					

						
			
			<a href="/add_album"> <span class="glyphicon glyphicon-plus"></span> Añadir </a>

						
			<% if(artists){ %>

				<h4 class="text-center">Artista <span class="badge"><%= artists.length%></span> / Album </h4> 

				<hr>
				
				<div class="list-group lista-artistas">

					<% artists.forEach(function(element, index){%>
						
						<button type="button" class="list-group-item" data-toggle="collapse" data-target="#collapseExample<%=index%>" aria-expanded="false" aria-controls="collapseExample"> <span class="glyphicon glyphicon-chevron-down"></span> <%=element.name%></button>						
						
						<div class="collapse" id="collapseExample<%=index%>">
							<% element.albums.forEach(function(album, index){%>
								<a href="/reproductor?path_album=<%=album.path%>&nombre_album=<%=album.name%>&anio=<%=album.year%>&nombre_artista=<%=element.name%>&genre=<%=album.genre%>" class="list-group-item item-lista-albums"> <span class="glyphicon glyphicon-cd"></span> <%=album.name%> - <%=album.year%> - <%=album.genre%></a>
							<%})%>
						</div>

					<%})%>

				</div>

			<% }else{ %>
				<br>
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					En este momento no hay música.
				</div>
			<%}%>
		</div>				

		<div class="col-md-9 contenedor-reproductor">

			<% if(lista_canciones){ %>					
				
				<!-- <%- info %> text-center-->					
																	
				<br>

				<div class="col-md-6 text-center">									
																																																														
					<div class="controls-player col-sm-12">
						<!---->
						<br>
						<%- cover %>
						
						<button id="btn_backward" class="btn btn-primary btn-fb"><span class="glyphicon glyphicon-backward"></span></button>
						<button id="btn_play" class="btn btn-success btn-play"><span class="glyphicon glyphicon-play"></span></button>
						<button id="btn_forward" class="btn btn-primary btn-fb"><span class="glyphicon glyphicon-forward"></span></button>
																	
						<h3 class="panel-title title-song">-</h3>
						<div class="alert notification-status"></div>
						<div class="col-sm-12 progress-bar-controls">
							<span id="curtimetext" class="col-sm-2">00:00</span>
							<div class="col-sm-8">
								<div class="progress">
									 <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div> 
								</div>
							</div>												
							<span id="durtimetext" class="col-sm-2">00:00</span>
						</div>   
																		
					</div>
					

				</div>
				<!-- -->
				<div class="col-md-6">

					<div class="col-md-12 cont-lista">
						<div>
							<%- lista_canciones %>
						</div>
						
					</div>

					<div class="col-md-12">
						<div>
							<%- info %>
						</div>
					</div>
				</div>
						
				

			<% }else{ %>
				<br>
				<div class="alert">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					En este momento no hay lista de reproducción.
				</div>
			<%}%>
		</div>
	</div>

</body>
</html>