<!DOCTYPE html>
<html>
<head>
	<title>Node Player</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="node_modules/jasny-bootstrap/dist/css/jasny-bootstrap.css">

	<link rel="stylesheet" type="text/css" href="node_modules/bootswatch/cyborg/bootstrap.css">	<!---->


	
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>

	<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
	
	<script type="text/javascript" src="node_modules/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>

	

	<script type="text/javascript" src="js/audio_player.js"></script>
	<script type="text/javascript" src="js/metallum.js"></script>
	<script type="text/javascript" src="js/index.js"></script>

</head>
<body>
<!---->
	<div class="navbar">
		
		<div class="container-fluid">
			
			<a href="/" class="navbar-brand"> <span class="glyphicon glyphicon-play-circle"></span> Node Player </a>
			
			<ul class="nav navbar-nav">				
				<li>					
				    <a href="#" data-toggle="offcanvas" data-target="#myNavmenu"> <span class="glyphicon glyphicon-user"></span> Album/Artsta</a>
				</li>
				<li class="active">
					<a href="/add_album"> <span class="glyphicon glyphicon-plus"></span> Añadir Album</a>
				</li>
			</ul>
		</div>
	</div>

	<nav id="myNavmenu" class="navmenu navmenu-inverse navmenu-fixed-left offcanvas" role="navigation">

		<% if(artists){ %>

			<a class="navmenu-brand" href="#"><h4 class="text-center">Artista <span class="badge"><%= artists.length%></span> / Album </h4></a>
	 
			<ul class="nav navmenu-nav">

				<% artists.forEach(function(element, index){%>
					<li>  </li>

					<li class="dropdown">				  
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=element.name%> <b class="caret"></b></a>
				      <ul class="dropdown-menu" role="menu">			        
				        <% element.albums.forEach(function(album, index){%>
							<li><a href="/reproductor?path_album=<%=album.path%>&nombre_album=<%=album.name%>&anio=<%=album.year%>&nombre_artista=<%=element.name%>&genre=<%=album.genre%>" > <span class="glyphicon glyphicon-cd"></span> <%=album.name%> - <%=album.year%> - <%=album.genre%></a></li>
						<%})%>
				      </ul>
				    </li>

				<%})%>

			</ul>		

		<% }else{ %>
			<br>
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				En este momento no hay música.
			</div>
		<%}%>

	</nav>

	

	<div class="col-md-12">


		<% if(lista_canciones){ %>		

			<br>

								
			

			<div class="col-md-6 text-center">									
																																																													
				<div class="controls-player col-sm-12">
					<!---->
					<br>
					<%- cover %>
					
					<button id="btn_backward" class="btn btn-primary btn-fb"><span class="glyphicon glyphicon-backward"></span></button>
					<button id="btn_play" class="btn btn-success btn-play"><span class="glyphicon glyphicon-play"></span></button>
					<button id="btn_forward" class="btn btn-primary btn-fb"><span class="glyphicon glyphicon-forward"></span></button>
																
					<h3 class="panel-title title-song">-</h3>
					<div class="alert notification-status"></div>
					<div class="col-sm-12 progress-bar-controls">
						<span id="curtimetext" class="col-sm-2">00:00</span>
						<div class="col-sm-8">
							<div class="progress">
								 <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div> 
							</div>
						</div>												
						<span id="durtimetext" class="col-sm-2">00:00</span>
					</div>   
																	
				</div>
				

			</div>
			
			<div class="col-md-6">

				<div class="col-sm-12">
					<div>
						<%- lista_canciones %>
					</div>
					
				</div>

				<div class="col-sm-12">
					<div>
						<%- info %>
					</div>
				</div>
			</div>	
			

		<% }else{ %>
			<br>
			<div class="alert">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				En este momento no hay lista de reproducción.
			</div>
		<%}%>
		
	</div>

</body>
</html>