<!DOCTYPE html>
<html>
<head>
	<title>Node 1.0</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="node_modules/jasny-bootstrap/dist/css/jasny-bootstrap.css">
	<link rel="stylesheet" type="text/css" href="node_modules/bootswatch/cyborg/bootstrap.css">	<!---->
	
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>	
	<script type="text/javascript" src="node_modules/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="/" class="navbar-brand" title="Home"> <span class="glyphicon glyphicon-play-circle"></span> Node Player </a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">				
			<li>
				<a href="/add_album" title="Añadir un nuevo album"> <span class="glyphicon glyphicon-plus"></span> Añadir Album</a>
			</li>		
		  </ul>
	    </div>
	  </div>
	</nav>

	<div class="col-md-12">
			
			<h3>Información de Uso de Disco</h3>

			<hr>	  

		  	<table class="table table-striped table-hover ">
		  		
		  		<thead>
				    <tr>
				      <th>Tamaño</th>
				      <th>Usado</th>
				      <th>Disponible</th>
				      
				      <th>Usado por la aplicación</th>
				    </tr>
				  </thead>

				  <tbody>
				  	<tr>
				      <td><%= info_disco.tam%></td>
				      <td><%= info_disco.usado%></td>
				      <td><%= info_disco.disponible%></td>
				      
				      <td><%= info_disco.uso_app%></td>
				    </tr>
				  </tbody>

		  	</table>

		  	<p><span class="label label-danger">Disco Usado</span></p>		

			<div class="progress progress-striped active">
			  <div class="progress-bar progress-bar-danger" style="width: <%= info_disco.uso_per%>">
			  	<%= info_disco.uso_per%>
			  </div>
			</div>

		  

	</div>

</body>
</html>